<html>
    <head>
        <style>
            #search-results tr:hover {
                background-color: lightgray;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <form id="search-form" onsubmit="return false">
            <input name="search">
            <input type="submit" value="Search" onclick="submitSearch()">
        </form>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody id="search-results"></tbody>
        </table>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
            function submitSearch() {
                $.ajax({
                    url: "/search",
                    method: "POST",
                    data: $("#search-form").serialize(),
                    success: function(rawData) {
                        var parsed = JSON.parse(rawData);
                        if (!parsed) return;

                        var searchResults = $("#search-results");
                        searchResults.empty(); // Empty out any existing results

                        parsed.forEach(function(result) {
                            var row = $("<tr><td>" + result.Title + "</td><td>" + result.Author + "</td><td>" + result.Year + "</td><td>" + result.ID + "</td></tr>");
                            searchResults.append(row);
                            row.on("click", function() {
                                console.log("clicked on a row")
                                $.ajax({
                                    url: "/books/add?id=" + result.ID,
                                    method: "GET"
                                })
                            })
                        });
                    }
                });

                return false;
            }
        </script>
    </body>
</html>